/*중앙 정렬 레이아웃 초기화*/
* {
	margin: 0;
	padding: 0
}

/*전체*/
body{
	background: rgb(243, 243, 243);
}

/*태그 선택자 설정*/
p{
	margin-bottom: 5px;
	margin-left: 10px;
}

li{
	list-style: none;
	float: left;
}

button{
	cursor: pointer;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	margin: 20px 0;
}


/*상단바*/
/*중앙 정렬*/
header{
	/*margin: 0 auto;*/
	width: 1300px;
	
}
.navigation_menu{
	margin: 20px 0;
}

/*상단 우측 아이콘 정렬*/
#empty{
	margin-left: 570px;
}

/*메인로고*/
#mainlogo_li{
	margin-left: 30px;
}

.menu_icon {
	margin: 32px 10px 0 10px; /*위 오 아 왼*/
	background: none;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	font-family: '나눔스퀘어라운드';
	/*border: 2px solid #BF9B7A;*/
	/*border-radius: 5px;*/
	border: none;
	color: #0D0D0D;
}

#header_container{
	position: fixed;
	width: 1300px;
	margin: 0 auto;
	/*margin-left: 150px;*/
	/*border: 5px solid red;*/
	display: block;
	left: 0; top: 0; right: 0;
	background: rgb(243, 243, 243);
	border-bottom:1px solid #D9CDBF;
}


/*body*/
#content{
	/*clear: both;*/
	margin: 0 auto;
	margin-top: 200px;
	width: 960px;
	border: 2px solid #BF9B7A;
	padding: 30px;
	border-radius: 5px;
	display: block;
}

#top_container{
	margin: 0 auto;
	border: 4px solid #BF9B7A;
	border-radius: 5px;
	height: 300px;
	width: 800px;
}

#poster_container{
	/*border: 5px blue solid;*/
	float: left;
	/*margin: 20px 0;*/
	margin-left: 30px;
	margin-top: 26px;
}

#poster{
	border: 2px solid #D9CDBF;
	border-radius: 5px;
}


#info_container{
	/*border: 5px green solid;*/
	margin-left: 230px;
	margin-top: 40px;
	padding: 10px;
	width: 550px;
}
#movietitle{
	font-size: 30px;
	font-weight: bold;
}
#info{
	font-size: 18px;
	color: gray;
}

/*평가*/
#rating_container{
	display: inline-block;	
	border-width:300px;	
	border: 2px solid #D9CDBF; 
	margin-top: 20px;
	padding: 10px 20px;
	margin-left: 10px;
	border-radius: 5px;
}

#rating_list{
	display: inline-block;	
	border-width:300px;	
	border: 3px solid red; 
	padding: 10px;
}
#rating_container > p{
	margin-left: 65px;
	margin-bottom: 10px;
}

.ratingimg{
	margin: 0 10px;
	margin-top: 5px;
}

input[type="checkbox"]{
	display: none;
}


/*기본정보*/
#detail_container{
	clear: both;
	border: 2px solid #BF9B7A;
	margin-top: 50px;
	border-radius: 5px;
}
#story_info{
	/*border: blue 5px solid;*/
	margin: 20px;
	padding: 15px;
}

#story_info > h2 {
	margin-bottom: 20px;
	margin-left: 10px;
}
#story_info > p {
	margin-bottom: 10px;
}


/*감독 정보*/
#director_list{
	/*border: blue 5px solid;*/
	margin: 20px;
	padding: 15px;
}

#director_list > h2 {
	margin-bottom: 20px;
	margin-left: 10px;
}

#director_list > a {
	width: 250px;
	height: 80px;
}

.director{
	margin-left: 10px;
	border: 2px solid #D9CDBF;
	width: 250px;
	height: 80px;
	border-radius: 5px;
}

#directorimg_container{
	float: left;
	width: 70px;
	height: 80px;
	display: inline-block;
}

#directorimg{
	border-radius: 5px;
	width: 70px;
	height: 80px;
}

#directorname{
	display: inline-block;
	width: 178px;
	height: 60px;
	padding-top: 18px;
}

/*배우 정보*/
#actor_list{
	/*border: blue 5px solid;*/
	margin: 20px;
	padding: 15px;
}

#actor_list > h2 {
	margin-bottom: 20px;
	margin-left: 10px;
}


.actor{
	display: inline-block;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px;
	border: 2px solid #D9CDBF;
	width: 250px;
	height: 80px;
	border-radius: 5px;
}

#actorimg_container{
	float: left;
	width: 70px;
	height: 80px;
	display: inline-block;
}

#actorimg{
	border-radius: 5px;
	width: 70px;
	height: 80px;
}

#actorname{
	display: inline-block;
	width: 178px;
	height: 60px;
	padding-top: 18px;
}

/* 리뷰정보 */
#review_container{
	border: 2px solid #BF9B7A;
	margin-top: 50px;
	border-radius: 5px;	
}

#review_container > h2 {
	margin: 30px 0 0 30px; /*위 오 아 왼*/
	width: 100px;
}

#btnWriteReview{
	float: right;
	margin-bottom: 20px;
	margin-right: 20px;
}

#review_list{
	clear: both;
}

#review_container > p {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 30px;
}

/*리뷰*/
#review{
	margin: 0 auto;
	background: #D9CDBF;
	width: 890px;
	height: 120px;
	border-radius: 10px;
	margin-bottom: 20px;
}

#userinfo{
	/*border: 2px solid red;*/
	width: 90px;
	height: 80px;
	float: left;
	margin-top: 20px;
	padding-left: 40px;
	padding-top: 5px;
	margin-right: 15px;
}
#nickname{
	/*margin-left: 10px;*/
	margin: 0;
}

#userimg{
}

#review_content{
	/*border: 2px solid red;*/
	display: inline-block;
	width: 620px;
	height: 60px;
	margin-top: 30px;
	padding-left: 20px;
	padding-top: 5px;
	margin-right: 15px;
	float: left;
}

#ratinginfo{
	/*border: 2px solid red;*/
	clear: both;
	width:30px;
	height: 30px;
	display: inline-block;
	margin-top: 50px;
	margin-left: 30px;
}

.review{
	margin-top: 50px;
	background: gray;
	margin: 10px;
	width: 500px;
	height: 100px;
	border-radius: 8px;
	margin-bottom: 10px;
}

#review_more{
	margin-bottom: 50px;
	margin-left: 450px;
}

