/*중앙 정렬 레이아웃 초기화*/
* {
	margin: 0;
	padding: 0
}

/*전체*/
body{
	background: rgb(243, 243, 243);
}

/*태그 선택자 설정*/
p{
	margin-bottom: 5px;
	margin-left: 10px;
}

li{
	list-style: none;
	float: left;
}

button{
	cursor: pointer;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	margin: 20px 0;
}


/*상단바*/
/*중앙 정렬*/
header{
	/*margin: 0 auto;*/
	width: 1300px;
	background: rgb(243, 243, 243);
	
}
.navigation_menu{
	margin: 20px 0;
}

/*상단 우측 아이콘 정렬*/
#empty{
	margin-left: 570px;
}

/*메인로고*/
#mainlogo_li{
	margin-left: 30px;
}

.menu_icon {
	margin: 32px 10px 0 10px; /*위 오 아 왼*/
	background: none;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	font-family: '나눔스퀘어라운드';
	/*border: 2px solid #BF9B7A;*/
	/*border-radius: 5px;*/
	border: none;
	color: #0D0D0D;
}

#header_container{
	position: fixed;
	width: 1300px;
	margin: 0 auto;
	/*margin-left: 150px;*/
	/*border: 5px solid red;*/
	display: block;
	left: 0; top: 0; right: 0;
	background: rgb(243, 243, 243);
}


/*body*/
#content{
	/*clear: both;*/
	margin: 0 auto;
	margin-top: 200px;
	width: 960px;
	border: 2px solid #BF9B7A;
	padding: 30px;
	border-radius: 5px;
	display: block;
}


#poster{
	width: 100px;
}