/*중앙 정렬 레이아웃 초기화*/
* {
	margin: 0;
	padding: 0
}

/*전체*/
body{
	background: rgb(243, 243, 243);
}

/*태그 선택자 설정*/
p{
	margin-bottom: 5px;
	margin-left: 10px;
}

li{
	list-style: none;
	float: left;
}

button{
	cursor: pointer;
}

a{
	text-decoration: none;
	color: black;
}

hr{
	margin: 20px 0;
}


/*상단바*/
/*중앙 정렬*/
header{
	/*margin: 0 auto;*/
	width: 1300px;
	
}
.navigation_menu{
	margin: 20px 0;
}

/*상단 우측 아이콘 정렬*/
#empty{
	margin-left: 570px;
}

/*메인로고*/
#mainlogo_li{
	margin-left: 30px;
}

.menu_icon {
	margin: 32px 10px 0 10px; /*위 오 아 왼*/
	background: none;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
	font-family: '나눔스퀘어라운드';
	/*border: 2px solid #BF9B7A;*/
	/*border-radius: 5px;*/
	border: none;
	color: #0D0D0D;
}

#header_container{
	position: fixed;
	width: 1300px;
	margin: 0 auto;
	/*margin-left: 150px;*/
	/*border: 5px solid red;*/
	display: block;
	left: 0; top: 0; right: 0;
}


/*body*/
#content{
	/*clear: both;*/
	margin: 0 auto;
	margin-top: 200px;
	width: 960px;
	border: 2px solid #BF9B7A;
	padding: 30px;
	border-radius: 5px;
	display: block;
}


/*메인 이미지*/
#mainimg_container{
	margin-top: 30px;
	margin-bottom: 70px;
}

#mainimg{
	margin-left: 35px;
}


/*검색창*/
#search_container{
	margin-bottom: 70px;
	height: 60px;
}

#keyword{
	width: 300px;
	height: 40px;
	margin-left: 300px;
	border-radius: 10px;
	margin-top: 5px;
	border: 3px solid #BF9B7A;
}
/*검색 돋보기 버튼*/
#btnSearchMovie{
	float: right;
	border: none;
	cursor: pointer;
	height: 40px;
	margin-right: 300px;
	margin-top: 7px;
	background: none;
}

#searchMovie_icon{
	width: 30px;
	padding: 5px;
	background: none;
}

/*메인 페이지 - 자동 추천 검색어 리스트*/
#movietitle_list{
	width: 300px;
	margin-left: 300px;
	background: white;
	border-radius: 10px;
}


/*컬렉션*/
#collection_container{
	border: 2px solid #BF9B7A;
	padding-left: 35px;
	border-radius: 5px;
}

.collection_title{
	margin: 10px 0;
	margin-left: 8px;
}

/*컬렉션 포스터*/
.poster{
	width: 150px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	z-index: 50;
}

/*최신영화*/
#latestMovie_list{
	margin: 30px 0;
}

.latestMovie{
	width: 170px;
	height: 300px;
	display: inline-block;
	margin-right: 3px;
}

/*인기 영화*/
#popularMovie_list{
	margin: 30px 0;
}

.popularMovie{
	width: 170px;
	height: 300px;
	display: inline-block;
	margin-right: 3px;
	position: relative;
}

/*순위박스*/
#ranking{
	left: 10px;
	width: 30px;	
	height: 30px;
	background: rgb(114, 114, 114);
	color: white;
	z-index: 100;
	border-radius: 10px;
	margin-right: 10px;
	margin-top: 10px;
	position: absolute;
	text-align: center;
	padding-top: 5px;
}

/*영화제 수상작*/
#awardWinningMovie_list{
	margin: 30px 0;
}

.awardWinningMovie{
	width: 170px;
	height: 300px;
	display: inline-block;
	margin-right: 3px;
}